@tailwind base;
@tailwind components;
@tailwind utilities;

Style the scrollbar track
::-webkit-scrollbar {
  width: 8px;
  cursor: move; /* Adjust the width as needed */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Change to your desired color */
  border-radius: 8px; /* Adjust the radius as needed */
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
